body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* .search-field {
  border: none;
  padding: 5px;
  outline: none;
  background-color: rgb(235, 240, 252);
}
.search-box {
  border: 1px solid rgb(3, 118, 211);
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 18px; /*---------------------------------------------->button gap error solve here 
} */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  height: 520px;
  background-color: rgb(227, 240, 231);
}
.single-product:hover {
  box-shadow: 6px 6px 9px gray;
  border-radius: 10px;
  background-color: rgb(235, 240, 252);
}
.product-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: rgb(166, 179, 170);
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
